.nav {
  &__container {
    display: flex;
  }

  .social {
    display: none;
  }

  &__list {
    @extend .flex-wrap;
    align-items: center;
  }

  &__list-item {
    height: 40px;
    padding: 0 20px;

    a {
      position: relative;
      @extend .flex-centered-content;

      height: inherit;

      font-size: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      padding-top: 10px;

      color: var(--white);

      overflow: hidden;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background-color: var(--accent);

        opacity: 0;
        transition: opacity var(--main-transition);
      }

      &.active::after {
        opacity: 1;
      }

      &:hover,
      &:focus {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  @include m-b-laptop-down {
    display: none;
  }

  &-closer {
    display: none;
    @extend .button-default;
    @extend .flex-centered-content;

    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;

    transform: rotate(45deg);

    &__line {
      width: 100%;
      height: 3px;
      background-color: var(--white);
      border-radius: 3px;

      &--top {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }

      &--bottom {
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        position: absolute;
      }
    }
  }

  @include m-b-laptop-down {
    &-closer {
      display: flex;
    }

    &.mobile-opened {
      display: block;

      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(245,245,245,.7);
      width: 100%;
      height: 100vh;
      z-index: 99;

      .social {
        display: flex;
      }

      .nav__container {
        position: fixed;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
        min-height: 350px;
        width: 100%;
        max-width: 450px;

        padding: 50px 0;
        background-color: var(--dark);
        z-index: 999;

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 10px;
          height: 100%;
          content: '';
          background-color: var(--accent);
        }

        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: "";
          width: 80%;
          height: 90%;
          background-image: url(../assets/img/icons/hero-logo.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0.05;
          z-index: -1;
        }
      }


      .nav__list {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 25px;
        margin: auto;

        &-item a {
          font-size: 18px;
        }
      }
    }
  }
}
