.personal {
  @extend .flex-wrap;
  align-items: center;
  margin-left: auto;

  @include m-b-mobile-lg-down {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    left: 0;
    justify-content: flex-end;
    padding: 15px 30px;
    background-color: rgba(0,0,0,.7);
  }

  &__field {
    @extend .flex-column;
    @extend .flex-centered-content;
    margin-left: 15px;
    width: fit-content;
    min-width: 40px;
    height: 40px;

    &-icon {
      position: relative;
      @extend .flex-centered-content;
      margin-bottom: 5px;

      @include m-b-mobile-lg-down {
        margin: 0;
      }

      span {
        @extend .flex-centered-content;
        position: absolute;
        top: -5px;
        left: 50%;

        border-radius: 5px;
        width: fit-content;
        height: 16px;

        font-size: 12px;
        font-weight: 700;
        padding: 4px;
        color: var(--white);
        background-color: var(--accent);
      }
    }

    & > span {
      font-size: 14px;
      color: var(--white);

      @include m-b-tablet-lg-down {
        display: none;
      }
    }

    @extend .hover-opacity;

    @include m-b-mobile-lg-down {
      width: 60px;
      border-radius: 4px;
      background-color: rgba(245,245,245,.2);
    }
  }
}
