.product-slider {
  position: relative;
  height: 100%;
  max-height: 75%;
  overflow: hidden;
  margin-bottom: 10px;

  .swiper-wrapper {
    height: 100%;
  }

  &::after {
    position: absolute;
    bottom: 20px;
    left: 20px;
    content: '';

    width: 76px;
    height: 56px;
    background-image: url("../assets/img/icons/product-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
  }
}

.product-slider-thumbs {
  height: auto;
  max-height: calc(25% - 10px);

  .swiper-slide img {
    max-height: 150px;
  }

  .swiper-slide {
    opacity: .5;
    border: 2px solid var(--white);
    transition: opacity var(--main-transition), border var(--main-transition);
  }

  .swiper-slide-thumb-active {
    border-color: var(--accent);
    opacity: 1;
  }
}

.product-slider,
.product-slider-thumbs {
  .swiper-slide {
    background-color: var(--card-bg);
    img {
      display: block;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }
}

.product-slider {
  .swiper-slide {
    img {
      padding: 20px 0;
      height: calc(100% - 40px);
    }
  }
}

.product-slider-button-next,
.product-slider-button-prev {
  position: absolute;
  top: 50%;
  background-color: transparent;

  &::before {
    width: 36px;
    height: 36px;
    background-size: cover;
  }
}

.product-slider-button-next {
  @extend .main-slider-button-next;
  right: 0;
  left: initial;
  transform: translateY(-50%);
}
.product-slider-button-prev {
  @extend .main-slider-button-prev;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}


