<div class="container">
  <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <div itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="/" title="Главная страница" itemprop="item">
        <span itemprop="name">Главная страница</span>
      </a>
      <meta itemprop="position" content="1">
    </div>

    <div itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
      <a href="/catalog/" title="Каталог" itemprop="item">
        <span itemprop="name">Каталог</span>
      </a>
      <meta itemprop="position" content="2">
    </div>

    <span>Утепленная рабочая одежда</span>
  </div>
</div>
