/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --font-family: "Futura", sans-serif;
    --content-width: 1590px;
    --content-fluid-width: 1790px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

    // colors
    --white: #fff;
    --light: #ebebeb;
    --basic-gray: #8c8c8c;
    --accent: #9c150c;
    --dark: #353434;
    --lightgray: #a4a4a4;
    --gray-4: #f5f5f5;
    --discount: var(--lightgray);
    --basic-text: rgba(20, 16, 36, 0.7);
    --header-bg: #242424;

    --main-bg-color: var(--white);
    --main-transition: 0.3s linear;

    // scrollbar
    --main-scrollbar-width: 8px;
    --main-scrollbar-color: var(--dark);
    --main-scrollbar-thumb-color: var(--accent);
  }
