/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --font-family: "Inter", sans-serif;
    --content-width: 1290px;
    --content-fluid-width: 1790px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

    // colors
    --white: #fff;
    --light: #ebebeb;
    --basic-gray: #8c8c8c;
    --accent: #d52027;
    --dark: #353434;
    --discount: #a4a4a4;
    --basic-text: rgba(20, 16, 36, 0.7);

    --main-bg-color: var(--white);

    // scrollbar
    --main-scrollbar-width: 6px;
    --main-scrollbar-color: var(--white);
    --main-scrollbar-thumb-color: var(--accent);
  }
