.catalog-filter
  .catalog-filter__section
    .catalog-filter__section-header Категории товаров

    .catalog-filter__section-content
      .catalog-section
        a(href="#").catalog-section-main Оджеда для маркетлейсов

        ul
          li
            a(href="#").catalog-section-inner Оджеда для маркетлейсов
          li
            a(href="#").catalog-section-inner Утепленная Оджеда для маркетлейсов
          li
            a(href="#").catalog-section-inner Утепленная одежда
          li
            a(href="#").catalog-section-inner Утепленная одежда
          li
            a(href="#").catalog-section-inner Утепленная одежда

  .catalog-filter__section
    .catalog-filter__section-header Цена

  .catalog-filter__section
    .catalog-filter__section-header Размер
