.catalog-filter
  .catalog-filter__section
    .catalog-filter__section-header.active Категории товаров

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--sections
        a(href="#").catalog-section-main.active Одежда для маркетлейсов

        ul
          li
            a(href="#").catalog-section-inner Одежда для маркетлейсов
          li
            a(href="#").catalog-section-inner Утепленная Оджеда для маркетлейсов
          li
            a(href="#").catalog-section-inner Утепленная одежда
          li
            a(href="#").catalog-section-inner.current Утепленная одежда
          li
            a(href="#").catalog-section-inner Утепленная одежда

    //<div class="catalog-filter__section filter">
      <form name="_form" class="filter__form" action="/catalog/rabochaya_odezhda/filter/clear/apply/" method="get">
        <div class="filter__body">
          <div class="smart-filter-parameters-box">
            <span class="smart-filter-container-modef">Всплывашка тут</span>

            <div class="catalog-filter__section-header active"> Цена </div>

            <div class="smart-filter-block" data-role="bx_filter_block">
              <div class="smart-filter-parameters-box-container">
                <div class="smart-filter-input-group-number">
                  <div class="d-flex justify-content-between">
                    <div class="form-group" style="width: calc(50% - 10px);">
                      <div class="smart-filter-input-container">
                        <input class="min-price form-control form-control-sm" type="number" name="arrFilter_P1_MIN" id="arrFilter_P1_MIN" value="" size="5" placeholder="От" onkeyup="smartFilter.keyup(this)">
                      </div>
                    </div>

                    <div class="form-group" style="width: calc(50% - 10px);">
                      <div class="smart-filter-input-container">
                        <input class="max-price form-control form-control-sm" type="number" name="arrFilter_P1_MAX" id="arrFilter_P1_MAX" value="" size="5" placeholder="До" onkeyup="smartFilter.keyup(this)">
                      </div>
                    </div>
                  </div>

                  <div class="smart-filter-slider-track-container">
                    <div class="smart-filter-slider-track" id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
                      <div class="smart-filter-slider-ruler p1"><span>4&nbsp;150</span></div>
                      <div class="smart-filter-slider-ruler p2"><span>4&nbsp;237.50</span></div>
                      <div class="smart-filter-slider-ruler p3"><span>4&nbsp;325</span></div>
                      <div class="smart-filter-slider-ruler p4"><span>4&nbsp;412.50</span></div>
                      <div class="smart-filter-slider-ruler p5"><span>4&nbsp;500</span></div>
                      <div class="smart-filter-slider-price-bar-vd" style="left: 0;right: 0;" id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b"></div>
                      <div class="smart-filter-slider-price-bar-vn" style="left: 0%; right: 0%;" id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b"></div>
                      <div class="smart-filter-slider-price-bar-v" style="left: 0%; right: 0%;" id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b"></div>
                      <div class="smart-filter-slider-range" id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b" style="left: 0; right: 0;">
                        <a class="smart-filter-slider-handle left" style="left:0;" href="javascript:void(0)" id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
                        <a class="smart-filter-slider-handle right" style="right:0;" href="javascript:void(0)" id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-2 smart-filter-parameters-box ">
            <span class="smart-filter-container-modef"></span>
            <div class="smart-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
              <span class="smart-filter-parameters-box-title-text">New</span>
              <span data-role="prop_angle" class="smart-filter-angle smart-filter-angle-down">
                <span class="smart-filter-angles"></span>
              </span>
            </div>
            <div class="smart-filter-block" data-role="bx_filter_block">
              <div class="smart-filter-parameters-box-container">
                <div class="smart-filter-input-group-checkbox-list">
                  <div class="form-group form-check mb-1">
                    <input type="checkbox" value="Y" name="arrFilter_6_2212294583" id="arrFilter_6_2212294583" class="form-check-input" onclick="smartFilter.click(this)">
                    <label data-role="label_arrFilter_6_2212294583" class="smart-filter-checkbox-text form-check-label" for="arrFilter_6_2212294583">да</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-2 smart-filter-parameters-box ">
            <span class="smart-filter-container-modef"></span>
            <div class="smart-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
              <span class="smart-filter-parameters-box-title-text">Top</span>
              <span data-role="prop_angle" class="smart-filter-angle smart-filter-angle-down">
                <span class="smart-filter-angles"></span>
              </span>
            </div>
            <div class="smart-filter-block" data-role="bx_filter_block">
              <div class="smart-filter-parameters-box-container">
                <div class="smart-filter-input-group-checkbox-list">
                  <div class="form-group form-check mb-1">
                    <input type="checkbox" value="Y" name="arrFilter_7_450215437" id="arrFilter_7_450215437" class="form-check-input" onclick="smartFilter.click(this)">
                    <label data-role="label_arrFilter_7_450215437" class="smart-filter-checkbox-text form-check-label" for="arrFilter_7_450215437">Да</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-2 smart-filter-parameters-box bx-active">
            <span class="smart-filter-container-modef">
              <div class="smart-filter-popup-result left" id="modef" style="display: inline-block;"> Выбрано: <span id="modef_num">2</span>
                <span class="arrow"></span>
                <br>
                <a href="/catalog/rabochaya_odezhda/filter/clear/apply/" target="">Показать</a>
              </div>
            </span>

            <div class="smart-filter-parameters-box-title" onclick="smartFilter.hideFilterProps(this)">
              <span class="smart-filter-parameters-box-title-text">Материал</span>
              <span data-role="prop_angle" class="smart-filter-angle smart-filter-angle-up">
                <span class="smart-filter-angles"></span>
              </span>
            </div>

            <div class="smart-filter-block" data-role="bx_filter_block" style="display: block; opacity: 1; height: 58px;">
              <div class="smart-filter-parameters-box-container">
                <div class="smart-filter-input-group-checkbox-list">
                  <div class="form-group form-check mb-1">
                    <input type="checkbox" value="Y" name="arrFilter_11_1182007066" id="arrFilter_11_1182007066" class="form-check-input" onclick="smartFilter.click(this)">
                    <label data-role="label_arrFilter_11_1182007066" class="smart-filter-checkbox-text form-check-label" for="arrFilter_11_1182007066">35%ХЛ</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter__footer">
            <div class="filter__controls">
              <input class="main-btn filter__submit" type="button" id="set_filter" name="set_filter" value="Показать">
              <input class="main-btn filter__reset" type="button" id="del_filter" name="del_filter" value="Сбросить">
            </div>
        </div>
      </form>
      </div>

  .catalog-filter__section
    .catalog-filter__section-header.active Цена

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--range
        include ./bitrix/range-slider


  .catalog-filter__section
    .catalog-filter__section-header.active Размер

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--sizes
        .rounded-button
          input(type="checkbox" id="size_44")
          label(for="size_44") 44
        .rounded-button
          input(type="checkbox" id="size_46")
          label(for="size_46") 46
        .rounded-button
          input(type="checkbox" id="size_48")
          label(for="size_48") 48
        .rounded-button
          input(type="checkbox" id="size_50")
          label(for="size_50") 50
        .rounded-button
          input(type="checkbox" id="size_52")
          label(for="size_52") 52
        .rounded-button
          input(type="checkbox" id="size_54")
          label(for="size_54") 54
        .rounded-button
          input(type="checkbox" id="size_58")
          label(for="size_58") 58
        .rounded-button
          input(type="checkbox" id="size_62")
          label(for="size_62") 62

  .catalog-filter__section
    .catalog-filter__section-header.active Цвет

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--checkboxes
        .main-checkbox
          input(type="checkbox" id="color_1231")
          label(for="color_1231") Фиолетовый в крапинку
            small 13
        .main-checkbox
          input(type="checkbox" id="color_123")
          label(for="color_123") Ярко-зеленый
            small 99

