.catalog-filter
  .catalog-filter__section
    .catalog-filter__section-header.active Категории товаров

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--sections
        a(href="#").catalog-section-main.active Одежда для маркетлейсов

        ul
          li
            a(href="#").catalog-section-inner Одежда для маркетлейсов
          li
            a(href="#").catalog-section-inner Утепленная Оджеда для маркетлейсов
          li
            a(href="#").catalog-section-inner Утепленная одежда
          li
            a(href="#").catalog-section-inner.current Утепленная одежда
          li
            a(href="#").catalog-section-inner Утепленная одежда

  .catalog-filter__section
    .catalog-filter__section-header.active Цена

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--range
        include ./range-slider


  .catalog-filter__section
    .catalog-filter__section-header.active Размер

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--sizes
        .rounded-button
          input(type="checkbox" id="size_44")
          label(for="size_44") 44
        .rounded-button
          input(type="checkbox" id="size_46")
          label(for="size_46") 46
        .rounded-button
          input(type="checkbox" id="size_48")
          label(for="size_48") 48
        .rounded-button
          input(type="checkbox" id="size_50")
          label(for="size_50") 50
        .rounded-button
          input(type="checkbox" id="size_52")
          label(for="size_52") 52
        .rounded-button
          input(type="checkbox" id="size_54")
          label(for="size_54") 54
        .rounded-button
          input(type="checkbox" id="size_58")
          label(for="size_58") 58
        .rounded-button
          input(type="checkbox" id="size_62")
          label(for="size_62") 62

  .catalog-filter__section
    .catalog-filter__section-header.active Цвет

    .catalog-filter__section-content
      .catalog-filter-section.catalog-filter-section--checkboxes
        .main-checkbox
          input(type="checkbox" id="color_1231")
          label(for="color_1231") Фиолетовый в крапинку
            small 13
        .main-checkbox
          input(type="checkbox" id="color_123")
          label(for="color_123") Ярко-зеленый
            small 99

