.company-info
  .company-info__field
    <span>Адрес:&nbsp;</span>
    address 196006, г. Санкт-Петербург, ул.Заставская 33ТА
  .company-info__field
    span Email:&nbsp;
    a(href="mailto:niti-spb@yandex.ru") niti-spb@yandex.ru
  .company-info__field
    <span>Телефоны:&nbsp;</span>
    <a href="tel:+79219810868"> +7(921) 981 08 68</a>,&nbsp;<a href="tel:+79219810868">+7(921) 981 08 68</a>
