.company-info
  address <span>Адрес:&nbsp;</span> 196006, г. Санкт-Петербург, ул.Заставская 33ТА
  a(href="mailto:niti-spb@yandex.ru") <span>Email:&nbsp;</span> niti-spb@yandex.ru
  p <span>Телефоны:&nbsp;</span><a href="tel:+79219810868"> +7(921) 981 08 68</a>,&nbsp;<a href="tel:+79219810868">+7(921) 981 08 68</a>
