.main-cart-item.main-cart-item--removed
  .main-cart-item__removed-overlay
    button(aria-label="Вернуть товар в корзину").main-cart-item__restore-btn
      span Восстановить
  button(aria-label="Удалить товар из корзины").main-cart-item__remove-btn
  img(src="./assets/img/slider-item-2.png" alt="")
  .main-cart-item__desc
    .main-cart-item__desc-header
      h2.main-cart-item__title Куртка "Пилот"
      span Артикул: <span>Куртка "Пилот"</span>

    .main-cart-item__desc-prop
      .main-cart-item__desc-prop-name Материал:
      .main-cart-item__desc-prop-value 35%
    .main-cart-item__desc-prop
      .main-cart-item__desc-prop-name Мате:
      .main-cart-item__desc-prop-value 35%ХЛ 65%ПЭ
    .main-cart-item__desc-prop
      .main-cart-item__desc-prop-name Материал:
      .main-cart-item__desc-prop-value 35%ХЛ 65%ПЭ
    .main-cart-item__desc-prop
      .main-cart-item__desc-prop-name Материал:
      .main-cart-item__desc-prop-value Васильково-оранжевый

  include ./counter

  .main-cart-item__discount-badge
    span -40%
  .main-cart-item__price
    span.main-cart-item__price-current 11 390 ₽
    span.main-cart-item__price-old 18 390 ₽
