.cart-item.product.cart-item--remove-d
  .cart-item__overlay
    button(aria-label="Вернуть товар в корзину").cart-item__restore
      span Восстановить
  button(aria-label="Удалить товар из корзины").cart-item__remove

  .cart-item__content
    .cart-item-section.cart-item-section--image
      .product-image
        img(src="./assets/img/slider-item-2.png" alt="")
      .product-discount
        span -40%
    .cart-item-section.cart-item-section--desc
      .product-title
        span.product-artnumber Артикул: <span>Куртка Васильковый-фиолетовый "Пилот"</span>
        h2 Васильковый-фиолетовый <span class="cart-item-highlighted">"Пи</span>лот"
      .product-props
        each item in [1,2,3,4]
          .product-prop
            .product-prop-name Материал:
            .product-prop-value Васильковый

  .cart-item__footer
    include ./counter

    .product-price
      span.product-price-current 1 111 390 ₽
      span.product-price-old 1 390 ₽
