ul.nav__list
  li.nav__list-item
    a(href="catalog.html").active Каталог
  li.nav__list-item
    a(href="brending.html") Брендирование
  li.nav__list-item
    a(href="delivery.html") Доставка и оплата
  li.nav__list-item
    a(href="about.html") О нас
  li.nav__list-item
    a(href="contacts.html") Контакты
