nav.nav
  button(type="button" aria-label="Закрыть меню").nav-closer
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-close")
  ul.nav__list
    li.nav__list-item
      a(href="#").active Каталог
    li.nav__list-item
      a(href="#") Брендирование
    li.nav__list-item
      a(href="#") Доставка и оплата
    li.nav__list-item
      a(href="#") О нас
    li.nav__list-item
      a(href="#") Контакты
