nav.nav
  .nav__container
    .nav__wrapper
      include ./closer

      include ./nav-list

      .nav__logo
        img(src="./assets/img/icons/hero-logo.svg" alt="" width="120" height="80")

      include ./social

      span.nav__city Санкт-Петербург, 2023
