nav.nav
  ul.nav__list
    li.nav__list-item
      a(href="#").active Каталог
    li.nav__list-item
      a(href="#") Брендирование
    li.nav__list-item
      a(href="#") Доставка и оплата
    li.nav__list-item
      a(href="#") О нас
    li.nav__list-item
      a(href="#") Контакты
