nav.nav
  .nav__container
    button(type="button" aria-label="Закрыть меню").nav-closer
      span.nav-closer__line.nav-closer__line--top
      span.nav-closer__line.nav-closer__line--bottom

    ul.nav__list
      li.nav__list-item
        a(href="#").active Каталог
      li.nav__list-item
        a(href="#") Брендирование
      li.nav__list-item
        a(href="#") Доставка и оплата
      li.nav__list-item
        a(href="#") О нас
      li.nav__list-item
        a(href="#") Контакты

    include ./social

    span Санкт-Петербург, 2023
