.pagination
  .pagination__controls
    a(href="#").pagination__control.pagination__control--more Показать еще
    a(href="#").pagination__control.pagination__control--prev

    a(href="#").pagination__control 1
    a(href="#").pagination__control.pagination__control--dots ...
    a(href="#").pagination__control 7
    a(href="#").pagination__control 8
    a(href="#").pagination__control.pagination__control--dots ...
    a(href="#").pagination__control 16

    a(href="#").pagination__control.pagination__control--next

  .pagination__count
    span <span>1–16<span> из <span>42</span> вариантов
