.personal
  a(href="#").personal__field
    .personal__field-icon
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-user")
    span Войти
  a(href="#").personal__field
    .personal__field-icon
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-heart")
      span.count-badge 2
    span Избранное
  a(href="#").personal__field
    .personal__field-icon
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-cart")
      span.count-badge 99
    span Корзина
