.personal
  .personal__field.personal__field--profile(tabindex="0")
    .personal__field-icon
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-user")
    span Войти

    .personal-field-profile-inner
      <a class="" href="/personal/">Личный кабинет</a>
      <a style="margin-right: 0;" href="?logout=yes&amp;">Выйти</a>

  a(href="#").personal__field
    .personal__field-icon
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-heart")
      span.count-badge 2
    span Избранное
  a(href="#").personal__field
    .personal__field-icon
      svg(width="24" height="24")
        use(xlink:href="./assets/sprite.svg#icon-cart")
      span.count-badge 99
    span Корзина
