//.thumb-slider-container
  .thumb-slider
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/img/test1.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/test2.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/test1.jpg" />
      </div>
    </div>

    <div class="swiper-button-prev thumb-slider-button-prev"></div>
    <div class="swiper-button-next thumb-slider-button-next"></div>

  .thumb-slider-thumbs(thumbsslider="")
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./assets/img/test1.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/test2.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="./assets/img/test1.jpg" />
      </div>
    </div>


<div class="product-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      img(src= `./assets/img/test1.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test2.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test3.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test1.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test2.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test3.jpg` alt="" width="600" height="800")
    </div>
  </div>
  <div class="swiper-button-next product-slider-button-next"></div>
  <div class="swiper-button-prev product-slider-button-prev"></div>
</div>

<div thumbsslider="" class="product-slider-thumbs">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      img(src= `./assets/img/test1.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test2.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test3.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test1.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test2.jpg` alt="" width="600" height="800")
    </div>
    <div class="swiper-slide">
      img(src= `./assets/img/test3.jpg` alt="" width="600" height="800")
    </div>
  </div>
</div>
