<div class="range-slider">

  <div class="range-slider__input-container">
    <input class="range-slider__price" type="number" name="arrFilter_P1_MIN" id="arrFilter_P1_MIN" value="5000" size="5" onkeyup="smartFilter.keyup(this)">
    <div class="range-slider__input-between"></div>
    <input class="range-slider__price" type="number" name="arrFilter_P1_MAX" id="arrFilter_P1_MAX" value="15000" size="5" onkeyup="smartFilter.keyup(this)">
  </div>

  <div class="range-slider__track">
    <div class="range-slider__track-outer" id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
      <div class="range-slider__track-inner" id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b">
        <button class="range-slider__handle range-slider__handle--left" id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></button>
        <button class="range-slider__handle range-slider__handle--right" id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></button>
      </div>
    </div>
  </div>
</div>
