form.search-form
  input(type="text" placeholder="Поиск по каталогу")
  button(type="button" aria-label="Поиск по каталогу")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-search")
