.sidebar
  .sidebar__container
    <button class="closer" type="button" aria-label="Закрыть фильтр">
      <span class="closer__line closer__line--top"></span>
      <span class="closer__line closer__line--bottom"></span>
    </button>
    .sidebar__filter
      include ./catalog-filter
