.social
  a(href="#" aria-label="Ozon.ru" rel="noopener nofollow noreferrer")
    svg(width="78" height="17")
      use(xlink:href="./assets/sprite.svg#icon-ozon")

  a(href="#" aria-label="Написать письмо" rel="noopener nofollow noreferrer")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-mail")

  a(href="#" aria-label="В контакте" rel="noopener nofollow noreferrer")
    svg(width="27" height="18")
      use(xlink:href="./assets/sprite.svg#icon-vk")

  a(href="#" aria-label="Инстаграм" rel="noopener nofollow noreferrer")
    svg(width="24" height="24")
      use(xlink:href="./assets/sprite.svg#icon-insta")


