extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content

  include ./components/bitrix/breadcrumbs
  include ./views/cart/cart

block modals
