extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content

  include ./views/catalog/catalog-section
  include ./views/common/callback

block modals
