extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content

  include ./views/index-page/hero
  include ./views/index-page/catalog
  include ./views/index-page/sale
  include ./views/index-page/popular
  include ./views/index-page/callback

block modals
  //include ./modals/...
