extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content

  include ./sections/index-page/intro
  include ./sections/index-page/catalog
  include ./sections/index-page/promo
  include ./sections/index-page/sale
  include ./sections/index-page/popular
  include ./sections/index-page/callback

block modals
  //include ./modals/...
