section.brending
  .container
    h1.section-title.accent Брендирование

    .brending__content
      <p>Для нанесения логотипа на униформу предлагаем несколько способов:</p>

      ul
        li - вышивка;
        li - термопечать;
        li - шелкография.

      p Для расчета стоимости необходимо прислать файл с изображением в графическом формате, например: форматах .pdf или .cdr на почту <a href="mailto:niti-spb@yandex.ru">niti-spb@yandex.ru</a>

      p После оформления заказа, с вами свяжется специалист по нанесению и проговорит все необходимые моменты.

    .masonry(data-fancybox-gallery="brending")
      .masonry-sizer
      .gutter-sizer

      .masonry-item
        img(data-fancybox-item src="./assets/img/slider-item-1.png" alt="" width="400" height="600")
      .masonry-item
        img(data-fancybox-item src="../assets/img/slider-item-1.png" alt="" width="400" height="600")
      .masonry-item
        img(data-fancybox-item src="./assets/img/cp-4@1x.png" alt="" width="400" height="600")
      .masonry-item
        img(data-fancybox-item src="../assets/img/slider-item-1.png" alt="" width="400" height="600")
      .masonry-item
        img(data-fancybox-item src="./assets/img/cp-9@1x.png" alt="" width="400" height="600")
      .masonry-item
        img(data-fancybox-item src="../assets/img/test1.jpg" alt="" width="400" height="600")


