section.section.hero
  .container.hero__container
    picture
      source(srcset="./assets/img/hero-img@1x.webp 1x, ./assets/img/hero-img@2x.webp 2x" type="image/webp")
      img(src="./assets/img/hero-img@1x.png" srcset="./assets/img/hero-img.png 2x" alt="niti-spb.ru" width="450" height="600")

    .hero__content
      h1 Пошив&nbsp;униформы <br/>и&nbsp;рабочей&nbsp;одежды <br/>в&nbsp;Санкт-Петербурге&nbsp;!

      include ../../components/social

