section.section.promo
  h2.visually-hidden Бесплатная доставка при заказе от 100 единиц
  picture
    source(type="image/webp" media="(max-width: 433px)" srcset="./assets/img/banner-bg-mobile@1x.webp 1x, ./assets/img/banner-bg-mobile@2x.webp 2x")
    source(type="image/webp" media="(max-width: 959px)" srcset="./assets/img/banner-bg-tablet@1x.webp 1x, ./assets/img/banner-bg-tablet@2x.webp 2x")
    source(type="image/webp" srcset="./assets/img/banner-bg@1x.webp 1x, ./assets/img/banner-bg@2x.webp 2x")

    source(type="image/png" media="(max-width: 433px)" srcset="./assets/img/banner-bg-mobile@1x.png 1x, ./assets/img/banner-bg-mobile@2x.png 2x")
    source(type="image/png" media="(max-width: 959px)" srcset="./assets/img/banner-bg-tablet@1x.png 1x, ./assets/img/banner-bg-tablet@2x.png 2x")
    img(src="./assets/img/banner-bg@1x.png" srcset="./assets/img/banner-bg@2x.png 2x" alt="Баннер" width="1290" height="262")
