-
    items = [
        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01',
            img: 'test3.jpg',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01s',
            img: 'test1.jpg',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'test2.jpg',
            img: 'slider-item-3.png',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01asd',
            img: 'slider-item-1.png',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01s',
            img: 'test1.jpg',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01dd',
            img: 'slider-item-3.png',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01',
            img: 'test2.jpg',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01s',
            img: 'test3.jpg',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01dd',
            img: 'slider-item-3.png',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01asd',
            img: 'slider-item-1.png',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01s',
            img: 'slider-item-2.png',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },

        {
            isSale: true,
            discount: '-20%',
            title: 'Фартук F01dd',
            img: 'slider-item-3.png',
            price: '99 999 ₽',
            oldPrice: '199 999 ₽'
        },
    ]
