<div class="section catalog">
  <div class="container">
    <h1 class="visually-hidden">Разделы магазин</h1>
    <div class="catalog__grid">
      <div class="catalog__grid-section">
        <img src="./assets/img/catalog-1.png" width="510" height="460" alt="" />
        <a href="#" class="catalog__grid-section-title">
          <h2>Утепленная <br/>для маркетплейсов</h2>
        </a>
        <div class="catalog__grid-section-inner">
          <ul>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="catalog__grid-section">
        <img src="./assets/img/catalog-1.png" width="510" height="460" alt="" />
        <a href="#" class="catalog__grid-section-title">
          <h2>Утепленная <br/>для маркетплейсов</h2>
        </a>
        <div class="catalog__grid-section-inner">
          <ul>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="catalog__grid-section">
        <img src="./assets/img/catalog-1.png" width="510" height="460" alt="" />
        <a href="#" class="catalog__grid-section-title">
          <h2>Утепленная <br/>для маркетплейсов</h2>
        </a>
        <div class="catalog__grid-section-inner">
          <ul>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>

            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>

            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="catalog__grid-section">
        <img src="./assets/img/catalog-1.png" width="510" height="460" alt="" />
        <a href="#" class="catalog__grid-section-title">
          <h2>Утепленная <br/>для маркетплейсов</h2>
        </a>
        <div class="catalog__grid-section-inner">
          <ul>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="catalog__grid-section">
        <img src="./assets/img/catalog-1.png" width="510" height="460" alt="" />
        <a href="#" class="catalog__grid-section-title">
          <h2>Утепленная <br/>для маркетплейсов</h2>
        </a>
        <div class="catalog__grid-section-inner">
          <ul>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="catalog__grid-section">
        <img src="./assets/img/catalog-1.png" width="510" height="460" alt="" />
        <a href="#" class="catalog__grid-section-title">
          <h2>Утепленная <br/>для маркетплейсов</h2>
        </a>
        <div class="catalog__grid-section-inner">
          <ul>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="catalog__grid-section">
        <img src="./assets/img/catalog-1.png" width="510" height="460" alt="" />
        <a href="#" class="catalog__grid-section-title">
          <h2>Утепленная <br/>для маркетплейсов</h2>
        </a>
        <div class="catalog__grid-section-inner">
          <ul>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
            <li>
              <a href="#">Утепленная рабочая одежда</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
