header.header
  .container
    .header__section.header__section--top
      a(href="index.html").header__logo
        svg(width="73" height="54")
          use(xlink:href="./assets/sprite.svg#icon-logo")
      a(href="index.html").header__logo.header__logo--mobile
        svg(width="110" height="32")
          use(xlink:href="./assets/sprite.svg#icon-logo-horizontal")
      include ../components/city
      include ../components/header-phones
      include ../components/search-form
      include ../components/burger
    .header__section.header__section--bottom
      a(href="index.html").header__logo
        svg(width="73" height="54")
          use(xlink:href="./assets/sprite.svg#icon-logo")
      include ../components/nav

      include ../components/search-form
      include ../components/personal

    <div class="title-search-result" style=" position: absolute; top: 131px; left: 709px; width: 480px;">
      <div class="search-title">
        <a href="#" class="search-title-result-item еуые">
          <div class="search-title-result-item-image-container">
              <div class="search-title-result-item-image" style="background-image: url('/upload/resize_cache/iblock/e3c/75_75_1/r42zvw7ea8xblelypf4qvhql0gtg3g7c.jpg');width:50px;height:75px;"></div>
          </div>

          <div class="search-title-result-item-info">
            <span><b>Костюм</b> мужской</span>
            <div class="search-title-result-item-price">
              <span class="search-title-result-item-current-price">3&nbsp;320 ₽</span>
              <span class="search-title-result-item-old-price">4&nbsp;150 ₽</span>
            </div>
          </div>
        </a>

        <div class="search-title-result-item еуые">
          <div class="search-title-result-item-info">
            <a class="search-title-result-item-link" href="/">Все результаты</a>
          </div>
        </div>
      </div>
    </div>

