section.contacts
  .container
    h1.section-title.accent Контакты
    p.contacts__text Мы с радостью ответим на все Ваши вопросы

    .contacts__wrapper
      .contacts__field
        span.contacts__field-name Телефон:
        .contacts__field-value
          a(href="#") +7 (921) 981-08-68
        .contacts__field-value
          a(href="#") +7 (921) 981-08-68

      .contacts__field
        span.contacts__field-name E-mail:
        .contacts__field-value
          a(href="#") niti-spb@yandex.ru

      .contacts__field
        span.contacts__field-name Адрес офиса и производства:
        .contacts__field-value
          address 196006, г.Санкт-Петербург, ул.Заставская&nbsp;33ТА

  div(id="yMaps")
