.catalog-element
  .container
    .product-item
      .product-item__preview
        include ../../components/product-item-slider

      .product-item__detail
        .product-item__detail-header
          h1 Фартук F01
          span <small>Артикул:</small> 12354FRT

        .product-item__detail-availability
          span.not-available Под заказ*
          span.available В наличии

        .product-item__detail-price
            span 17 390&nbsp;₽
            span.old-price 122 105&nbsp;₽

        .product-item__detail-options
          .product-item__detail-option
            span.product-item__detail-option-name Размер
            .product-item__detail-option-value
              <select class="custom-select">
                <option value>44</option>
                <option value="46">46</option>
                <option value="48">48</option>
              </select>
          .product-item__detail-option
            span.product-item__detail-option-name Интервал роста
            .product-item__detail-option-value
              <select class="custom-select">
                <option value>Интервал ростаИнтервал роста</option>
                <option value="foo">Foo</option>
                <option value="buz">Buz</option>
              </select>

        .product-item__detail-footer
          .product-item__detail-footer-counter
            span Количество
            include ../../components/counter

          button.accent-btn.product-item__detail-footer-btn Заказать

        .product-item__detail-note
          p *Товар изготавливается под заказ. <br/>Сроки изготовления данного изделия составляют <span>7-10</span> рабочих дней с момента оформления заказа.


    .product-description
      span.product-description__title Описание:
      .product-description__text Описание товара под SEO
